<!DOCTYPE html>
<html>
<head>
	<title>Quoting Dojo</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Quoting Dojo</h1>
	<form action="/quotes" method="post">
		<p>
			<label>Your Name:</label>
			<input type="text" name="name">
		</p>
		<p>
			<label>Your Quote</label>
			<textarea rows="4" name="quote"></textarea>
		</p>
		<p>
			<input type="submit" value="Post">
		</p>
	</form>
	<a href="/quotes">See all quotes</a>
</body>
</html>